.profile-photo-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Avojaloin;

  .top-wrapper{
    height: 80%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      background: no-repeat center;
      background-size: cover;
    }
  }

  .bottom-wrapper{
    height: 20%;
    overflow: hidden;

    h1 {
      font-size: 14px;
      margin: 2px 0 0 0;
    }

    h2 {
      font-size: 0.7em;
      line-height: 100%;
      margin: 0;
      font-style: italic;
    }
  }
}