@font-face {
  font-family: Avojaloin;
  src: url('./fonts/Avojaloin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: VintageWarehouse;
  src: url('./fonts/Vintage Warehouse.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
