$animation-time: 0.9s;

.photo-grid-wrapper {
  margin: 0 auto;
  position: relative;

  .photo-grid-list {
    position: relative;

    .photo-grid-cell {
      position: absolute;
      box-sizing: border-box;
      transition: top $animation-time ease-in, left $animation-time ease-in, transform $animation-time ease-in;
      background-color: white;
      border: 0.5px solid #bcbcbc;
      box-shadow: 1px 1px 1px 1px #79797921;
      &.left-oriented {
        box-shadow: -1px 1px 1px 1px #79797921;
      }
    }

    &.ready-to-animate .photo-grid-cell {
      top: 0 !important;
      left: 0 !important;
      transform: none !important;
    }
  }
}